html{
  scroll-behavior: smooth;
}


body{
    background-color: #11d8b7;
}

header{
  padding: 1.5%;  
  font-family: 'Patrick Hand', cursive;
  background-color:#11d8b7;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fixo{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

}


.img_topo{
    width: 100%;

}

.img_corpo{
    width: 50%;
    margin-top: 1%;
    margin-bottom: 1%;
  }
figure{
    text-align:center;
}

.container{
    width: 80%;
    margin:auto;
}

h1{
    text-align: center;
    color: rgb(240, 240, 240);
    font-size: 2.5em;
  }

p{
    font: size 2em;
    color:#dcdce2;
    text-align: justify;
    text-indent: 40px;
    line-height: 1.5; 
}

parag_letras > p{

    font-size: 1em;
    text-align: justify;
    text-indent: 40px;
    line-height: 1.5;
    margin-top: 0.2%;
    margin-bottom: 00.2%;
  }
  
  .pinta_botao{
    width: 150px;
    height: 40px;
    background-color: #32ada7;
    margin: auto; 
    padding: 0.2%;
    text-align: center;  
    padding-top: 3%; 
        
  }
  
  .pinta_botao:hover{
    background-color: rgba(32, 58, 58, 0.349);
  }
  
  .pinta_botao a:link, .pinta_botao :visited{
    text-align: center;
    text-decoration: none ; 
    font-weight: bolder;   
  
  }
  
  footer p{
  
    font-size: 1.2em;
    text-align: center;
  
  }
  .itens_menu{
    line-height: 1.5;
    text-align: center;
    margin: auto;
  }
  
  .itens_menu a{
    font-size: 1.2em;
    text-align: center;
    margin: auto;
  }
  .itens_menu a:link, .itens_menu a:visited{ 
    color: rgb(253, 253, 253);
    text-decoration: none;
  }  
  /* mouse over link */
.itens_menu a:hover {
    color: rgb(238, 238, 238);
    padding: 0.8%;    
    background-color: rgba(128, 128, 128, 0.3); 
    text-decoration: none;
    border-radius: 15%;

  }
  
  /* selected link */
.itens_menu a:active {
    color: rgb(29, 143, 105);
    text-decoration: none;
  }
  
  section{
    margin-top: 2%;
    margin-bottom: 2%;
  }
  
  .escondido{
    display: none;
  }
  
  .direita{
    float:right;
    width: 40%;
    margin-left: 2%;
  
  }
  
  .esquerda{
    float: left;
    width: 30%;
    
    margin-right: 2%;
  }

 /*Faz uma alteração quando a tela fica menor que 600px */
@media screen and (max-width:600px) {

  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
   
  }  

  .banner{
    margin-top: 40%;
  }

  
  .descer{
    margin-top: 50%;
  }
}
/*Faz uma alteração quando a tela fica maior que 601px */
@media screen and (min-width:601px) {


  .banner{
    margin-top: 8%;
  }

  .descer{
    margin-top: 10%;
  }

    
}